.contenedorcitas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.363),
      rgba(24, 72, 9, 0.85)
    ),
    url('../imagenes/jaspinder-singh-29ShZj22La0-unsplash.jpg') no-repeat center center/cover;
  min-height: 100vh;
  padding: 50px 20px;
  box-sizing: border-box;
  
}

.contenedor-mensaje {
  background: linear-gradient(135deg, #c2dedc, #ece5c7);
  padding: 30px;
  border-radius: 15px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contenedor-mensaje:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.formulariocitas {
  background-color: #ffffffcc;
  backdrop-filter: blur(5px);
  padding: 40px 30px;
  align-content: center;
  border-radius: 15px;
  max-width: 500px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formulariocitas:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.formulariocitas input,
.formulariocitas select,
.formulariocitas textarea {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formulariocitas input:focus,
.formulariocitas select:focus,
.formulariocitas textarea:focus {
  border-color: #6fa29d;
  box-shadow: 0 0 5px rgba(111, 162, 157, 0.5);
}

button {
  background: linear-gradient(135deg, #6fa29d, #88c9c3);
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: linear-gradient(135deg, #558985, #6fa29d);
  transform: translateY(-2px);
}

.btn-home {
  background: linear-gradient(135deg, #9ec45f, #b0d972);
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 50%;
}

.btn-home:hover {
  background: linear-gradient(135deg, #7da344, #9ec45f);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .contenedorcitas {
    padding: 30px 10px;
  }

  .contenedor-mensaje,
  .formulariocitas {
    width: 100%;
    padding: 25px 20px;
  }
}
