.contenedorcitas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  background-color: #22305c;
  width: 65%;
    padding: 20px;
}

.formulariocitas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9bb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}