.contenedorLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: url('../imagenes/jaspinder-singh-9HllvSZfcpQ-unsplash.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.contenedorLogin > div {
  margin-top: 8px;
  background-color: #ffffffaf;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(3, 78, 101, 0.445);
  max-width: 400px;
  width: 100%;
}

/* Título */
.titulo {
  text-align: center;
  color: #4a6fa5;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

/* Inputs */
.loginForm input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  background-color: #f8f9fa;
  font-size: 1rem;
  transition: border 0.3s;
}

.loginForm input:focus {
  outline: none;
  border-color: #a5d8ff;
  background-color: #ffffff;
}

/* Botón */
.botonLogin {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #a3d9a5ea;
  color: #2e7d32;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botonLogin:hover {
  background-color: #84bf90;
}

/* Link de recuperación */
.linkRecuperar {
  display: block;
  margin: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s;
}

.linkRecuperar:hover {
  color: #416498;
}

.contenedor2 { 
  text-align: center;
  font-size: 0.9rem;

}
.titulo1 {
  color: #4a6fa5;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
